.btn-loader {
    border: 3px solid white;
    display: flex;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    animation: spin 1s linear infinite;
    border-top: 3px solid transparent !important;
    margin-left: 5px;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  