.loaderWrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  padding: 100px;
  justify-content: center;
  z-index: 99;
  background-color: white;
  align-items: center;
  .pageLoader {
    border: 8px solid #ebebeb;
    display: block;
    border-radius: 50%;
    border-top: 8px solid transparent;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
    border-top: 8px solid #3f51b5 !important;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
